extends layout

block content
    .heading-card.about
        .heading-card-content
            h1= title
    .body-text
        h2 Who we are
        .committee
            .committee-card
                img(src='/images/21122578_863924523770609_8122639805483288042_o.jpg', alt='Max Leonhardt', width='125')
                h4 Tomas Zaluckij
                p Secretary
                a(href='https://twitter.com/MrTomaszal', target='_blank', rel='external')
                        i.fab.fa-twitter.fa-lg
                a(href='https://github.com/Tomaszal', target='_blank', rel='external')
                        i.fab.fa-github.fa-lg
            .committee-card
                img(src='/images/11896008_901810346521965_5188376149967062800_n.jpg', alt='Miguel Bacharov', width='125')
                h4 Miguel Bacharov
                p Vice President
                | &nbsp;
                a(href='https://github.com/migbash', target='_blank', rel='external')
                        i.fab.fa-github.fa-lg
            .committee-card
                img(src='/images/75450025_2477033722412110_5625317262563999744_n.png', alt='Toby Cook', width='125')
                h4 Mihail Yonchev
                p President
                | &nbsp;
                a(href='https://github.com/insertmike', target='_blank', rel='external')
                        i.fab.fa-github.fa-lg
            .committee-card
                img(src='/images/736b19f69aaca691fecd8400294cc383.jpg', alt='Jacob Barrow', width='125')
                h4 Jacob Barrow
                p Treasurer
                a(href='https://twitter.com/BarrowJacob', target='_blank', rel='external')
                        i.fab.fa-twitter.fa-lg
                | &nbsp;
                a(href='https://github.com/jacobbarrow', target='_blank', rel='external')
                        i.fab.fa-github.fa-lg

            .committee-card
                img(src='/images/0.jpeg', alt='Alex Ajebon', width='125')
                h4 Alexander Ajebon
                p  Media Creator
                | &nbsp;
                a(href='https://github.com/AlexIsOpAf', target='_blank', rel='external')
                        i.fab.fa-github.fa-lg
        br

        h2 What we do
        p We're constantly working to make the society as active and engaging as possible, through events, weekly meetups and socials. You can check out a comprehensive list of the events we've got planned
            a(href='#', target='_blank') here
        br

        h2 Our aims
        p As a society, we have a few aims that we bear in mind through all our decisions we make:
        ul.about-aims
            li To create an open, accessible and ethical environment for members to share their passion for technology
            li Establish a network between our members and proffessionals in the technology sphere
            li To allow the society to grow in a way that it can thrive and offer support to a larger number of people
        br

        h2 Minutes and financials
        p We make key documents public to increase the society's accountability and transparency, as well as giving our members a better understanding of our goals and financial situation.
        p Our minutes are available here and the 2018-19 finances are available
            a(href='#', target='_blank') here
