extends layout

block content
    .heading-card.about
        .heading-card-content
            h1= title
    .body-text
        h2 Who we are
        .committee
            .committee-card
                img(src="/images/8822d2a2efe231fa6fce5b711df3dc7c.jpg", alt="", width="150")
                h3 Toby Cook
                p President
                a(href="#", target="_blank", rel="external")
                        i.fab.fa-twitter.fa-lg
                | &nbsp;
                a(href="#", target="_blank", rel="external")
                        i.fab.fa-github.fa-lg
            
            .committee-card
                img(src="/images/2ffe4e77325d9a7152f7086ea7aa5114.jpg", alt="", width="150")
                h3 Max Leonhardt
                p Secretary
                a(href="#", target="_blank", rel="external")
                        i.fab.fa-github.fa-lg
            
            .committee-card
                img(src="/images/736b19f69aaca691fecd8400294cc383.jpg", alt="", width="150")
                h3 Jacob Barrow
                p Treasurer
                a(href="#", target="_blank", rel="external")
                        i.fab.fa-twitter.fa-lg
                | &nbsp;
                a(href="#", target="_blank", rel="external")
                        i.fab.fa-github.fa-lg
        br

        h2 What we do
        p We're constantly working to make the society as active and engaging as possible, through events, weekly meetups and socials. You can check out a comprehensive list of the events we've got planned 
            a(href="#") here
        br
        
        h2 Our aims
        p As a society, we have a few aims that we bear in mind through all our decisions we make:
        ul.about-aims
            li To create an open, accessible and ethical environment for members to share their passion for technology
            li Establish a network between our members and proffessionals in the technology sphere
            li To allow the society to grow in a way that it can thrive and offer support to a larger number of people
        br         
        
        h2 Minutes and financials
        p We make key documents public to increase the society's accountability and transparency, as well as giving our members a better understanding of our goals and financial situation.
        p Our minutes are available here and the 2018-19 finances are available 
            a(href="#") here
