extends layout

block content
        h1= title
        br
        .card-container
            .card.t-a-r
                h1 4
                h3 Committee members
            .card.t-a-r
                h1 238
                h3 Discord members
            .card.t-a-r
                h1 17
                h3 Society members
