extends layout

block content
    .heading-card.join
        .heading-card-content 
            h1= title
    .body-text
        p Joining the society is a great way to meet other like-minded people who share a similar passion for tech. We provide an environment for people to come and learn, socialise and take part in awesome events.
        p It also looks great on your CV!

        p Here are a few benefits of being a society member...
        br

        h2 Exclusive learning material
        p Access to exclusive material for learning
        br

        h2 Included on our society members page
        p Get your own profile on the website
        br

        h2 Access to private Discord channels
        p You'll get access to private channels on our discord server
        br

        h2 Exclusive access to events
        p We hold members-only events, such as hackathons, code-challenges, workshops and guest speakers that you'll only be able to attend if you’re a member of the society.
        br

        h2 Event and merchandise discounts
        p Get discounts on society merchandise, free entry to our events and so much more.
        br

        .join-action-btn
            a(href='https://www.napierstudents.com/organisation/societies/7541/', target='_blank', rel='external').btn-default.btn Join

