extends layout

block content
    .heading-card.join
        .heading-card-content 
            h1= title
    .body-text
        p Joining the society is a great way to meet other like-minded people who share a similar passion for tech. We provide an environment for people to come and learn, socialise and take part in awesome events.

        br
        h2 Membership Perks
        br

        h3 Free online CV hosting
        p Have a static CV profile hosted on our website
        br

        h3 Access member-only events
        p Access to events that are exclusive to ENUCS members
        br

        h3 Exclusive learning material
        p Gain access to exclusive on-demand learning content
        br

        h3 Included on our society members page
        p Get featured on our members page
        br

        h3 Access to private Discord channels
        p You'll get access to private channels on our discord server
        br

        h3 Event and merchandise discounts
        p Get discounts on our merchandise and paid events
        br



        .join-action-btn
            a(href='https://www.napierstudents.com/organisation/societies/7541/', target='_blank', rel='external').btn-default.btn Join

