<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        meta(name='description', content='We are Edinburgh Napier University\'s Computing Society. We run weekly events to engage students within the tech community.')
        meta(name='keywords', content='programming, napier, computing, society, technology')
        link(rel='stylesheet', href='/css/style.css')
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
        script(src='https://basilisk.mindful.dev/script.js' site='KUBEHGOQ' defer='')
        title ENUCS - Edinburgh Napier University Computing Society
        block extraHead
    body
        nav.navbar
            .container
                a.navbar-logo(href='/')
                    img(src='/images/logo.png', alt='ENUCS Logo', height='40')
                input(type='checkbox', id='menu')
                label(for='menu').fas.fa-bars.nav-toggle
                ul.navbar-links
                    li.navbar-link-item
                        a(href='/about/') About
                    li.navbar-link-item
                        a(href='/events/') Events
                    li.navbar-link-item
                        a(href='/merch/') Merch
                    li.navbar-link-item.navbar-btn
                        a(href='/join/') Join
        .container
            main
                block content
        footer
            .footer-info
                .content-left
                    img(src='/images/napier.jpg', alt='Edinburgh Napier University', height='75', style='margin-top:25px')
                .contact
                    h3 Find us:
                    br
                    a(href='https://discord.gg/hnh3fFq', target='_blank', rel='external')
                        i.fab.fa-discord.fa-3x &nbsp;
                    a(href='https://www.facebook.com/enucs', target='_blank', rel='external')
                        i.fab.fa-facebook-square.fa-3x &nbsp;
                    a(href='https://twitter.com/enucs', target='_blank', rel='external')
                        i.fab.fa-twitter-square.fa-3x 
        block scripts
