extends layout

block content
    .body-text
        .login-container
            h1 Login
            label(for="Username") Username
            input#username(type="text", name="Username")
            label(for="Password") Password 
            input#password(type="password", name="Password")
            button.btn.btn-default.btn-login(type="submit") Login