extends layout

block content
    
    .body-text
        h1= title
        br
        form(method='POST', action='/users/login')
            .form-group
                label Email:
                br
                input.form-control(name='email', type='text')
            .form-group
                label Password:
                br
                input.form-control(name='password', type='password')
            br
            input.btn.btn-default(type="submit", value="Login")
