extends layout

block content
    .body-text
        h1= title
        br
        form(method='POST', action='/users/login')
            .form-group
                label(for='email') Email:
                br
                input.form-control(id='email', name='email', type='text')
            .form-group
                label(for='password') Password:
                br
                input.form-control(id='password', name='password', type='password')
            br
            input.btn.btn-default(type='submit', value='Login')
