extends layout

block content
    .heading-card.sponsors
        .heading-card-content 
            h1= title

    .body-text
        h2 Call to action
        p Our partners play a key role in the society and allow us to offer a range of exciting events. If you're interested in sponsoring the society, we'd love to have you on board. 
        p Just send an email to 
            a(href='mailto:treasurer@enucs.org.uk') treasurer@enucs.org.uk