extends layout

block content
    
    .body-text
        h1= title
        br
        form(method='POST', action='/users/register')
            .form-group
                label Name:
                br
                input.form-control(name='name', type='text')
            .form-group
                label Email:
                br
                input.form-control(name='email', type='text')
            .form-group
                label Username:
                br
                input.form-control(name='username', type='text')
            .form-group
                label Password:
                br
                input.form-control(name='password', type='password')
            .form-group
                label Confirm Password:
                br
                input.form-control(name='password2', type='password')
            br
            input.btn.btn-default(type="submit", value="Register")
