extends layout

block content
    .heading-card
        .heading-card-content 
            h1= title

    .body-text
        h2 Call to action
        p Our sponsors provide a key role in the society and allow us to offer a range of exciting events. If you're interested in sponsoring the society, we'd love to have you on board. 
        p Just send an email to 
            a(href="mailto:treasurer@enucs.org.uk") treasurer@enucs.org.uk
        br
        hr
        br
        img(src="/images/blackrock.png", alt="BlackRock Logo", width="250")
        p BlackRock is one of the world’s largest FinTech firms.
        p Since our inception in 1988, we’ve grown from an entrepreneurial start-up into the world’s largest investment manager, with more than $6 trillion of assets under management, by putting technology and continuous innovation at the heart of our business.
        p But technology without people is nothing; we seek to preserve a firm culture that encourages our technology professionals to continue stretching the boundaries of what’s possible.
        p We offer a range of roles from Software Engineering to Prod Ops to Analytics, across a range of programmes including Summer Analyst, Placement and Analyst Programme.
