@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");
/* ENUCS red */
/* Colour for body text */
/* About page banner gradient */
/* Event page banner gradient */
/* Join page banner gradient */
/* Button gradient */
/* Card shadow */
/* Footer social media icon colors */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  background-color: #FBFBFB;
  color: #484848;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #FFF;
  border-bottom: 1px solid #E4E4E4;
  line-height: 70px;
}
.navbar .nav-toggle {
  float: right;
  line-height: 70px;
  font-size: 1.5em;
  display: none;
}
.navbar .navbar-logo {
  font-size: 22px;
}
.navbar .navbar-logo img {
  vertical-align: middle;
}
.navbar .navbar-links {
  float: right;
}
.navbar .navbar-links a {
  font-weight: 600;
  text-decoration: none;
  color: #484848;
}
.navbar .navbar-links a:hover {
  text-decoration: underline;
}
.navbar .navbar-links .navbar-link-item {
  display: inherit;
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
}
.navbar .navbar-links .navbar-btn {
  background: linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
  background: -moz-linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
  background: -webkit-linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
  margin-left: 10px;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  line-height: 40px;
  padding: 0;
  box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
}
.navbar .navbar-links .navbar-btn a {
  padding: 10px 20px;
  color: #FFF;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 300px);
}

main {
  margin-top: 30px;
}
main .main-card {
  width: 100%;
  height: 300px;
  padding: 50px;
  box-sizing: border-box;
  background: linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
  background: -moz-linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
  background: -webkit-linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
}
main .main-card .main-card-content {
  color: #FFF;
  max-width: 60%;
  align-self: center;
}
main .main-card .main-card-content h1 {
  font-size: 38px;
}
main .social-feed-title {
  margin-top: 50px;
  margin-bottom: 30px;
}
main .upcoming-event-title {
  margin-top: 50px;
  margin-bottom: 30px;
}
main .twitter-card-container {
  display: flex;
  justify-content: space-between;
}
main .twitter-card {
  width: calc(33% - 10px);
  min-height: 150px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  padding: 15px 25px;
  border-radius: 5px;
  border-left: 5px solid #1da1f2;
  box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  height: -moz-fit-content;
  height: -webkit-fit-content;
}
main .twitter-card .tweet-link {
  color: #1da1f2;
  font-weight: 600;
  text-decoration: none;
  margin-top: 1em;
  display: block;
}
main .upcoming-event-title {
  margin-top: 50px;
  margin-bottom: 30px;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
}
.event-container .event-card {
  width: calc(32% - 5px);
  border-left: 5px solid #c62828;
  margin-right: 20px;
  border-radius: 5px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
}
.event-container .event-card:nth-child(3n) {
  margin-right: 0;
}
.event-container .event-card:hover {
  transform: scale(1.03) translateZ(0);
  -moz-transform: scale(1.03) translateZ(0);
  -webkit-transform: scale(1.03) translateZ(0);
  transition: 0.35s transform, 0.35s transform;
  -moz-transition: 0.35s -moz-transform, 0.35s -moz-transform;
  -webkit-transition: 0.35s -webkit-transform, 0.35s -webkit-transform;
}
.event-container .event-card a {
  text-decoration: none;
  color: inherit;
}
.event-container .event-card img {
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.event-container .event-card .event-card-info {
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
}
.event-container .event-card .event-card-info img {
  float: right;
  width: 60px;
  margin-top: 10px;
  border-radius: 0;
}
.event-container .event-card .event-card-info .event-date {
  color: #727272;
  font-size: 14px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FFF;
  font-size: 18px;
  font-weight: 600;
  color: #484848;
  display: inline-block;
  text-align: center;
  border: none;
  box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
}
.btn:hover {
  cursor: pointer;
}

.btn-default {
  color: #FFF !important;
  min-width: 100px;
  background: linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
  background: -moz-linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
  background: -webkit-linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
}
.btn-default:hover {
  background: #27a09e;
}

.form-group {
  display: inline-block;
  width: 100%;
}

.event-time {
  width: 60% !important;
}

.start {
  margin-right: 5%;
}

label {
  font-size: 22px;
}

.form-control {
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 22px;
  width: 100%;
  color: #727272;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
  font-family: inherit;
}

.about {
  background: linear-gradient(45deg, #1d6bb4 0%, #00d4ff 100%);
  background: -moz-linear-gradient(45deg, #1d6bb4 0%, #00d4ff 100%);
  background: -webkit-linear-gradient(45deg, #1d6bb4 0%, #00d4ff 100%);
}

.events {
  background: linear-gradient(45deg, #a214a0 0%, #40f 100%);
  background: -moz-linear-gradient(45deg, #a214a0 0%, #40f 100%);
  background: -webkit-linear-gradient(45deg, #a214a0 0%, #40f 100%);
}

.sponsors {
  background: url("../images/sponsors-banner.jpg");
  background-position-y: -75px;
}

.join {
  background: linear-gradient(45deg, #d78b3c 0%, #c340f4 100%);
  background: -moz-linear-gradient(45deg, #d78b3c 0%, #c340f4 100%);
  background: -webkit-linear-gradient(45deg, #d78b3c 0%, #c340f4 100%);
}

.heading-card {
  width: 100%;
  height: 150px;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  margin-bottom: 50px;
  box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
}
.heading-card .heading-card-content {
  color: #FFF;
  max-width: 60%;
  align-self: center;
}
.heading-card .heading-card-content h1 {
  font-size: 38px;
}

.body-text {
  min-height: 400px;
  width: 70%;
  font-size: 18px;
  margin: 0 auto;
  line-height: 2em;
}
.body-text ul.about-aims {
  padding-left: 50px;
}
.body-text p {
  margin-top: 20px;
}
.body-text a {
  font-weight: 600;
  color: inherit;
}

.committee {
  display: flex;
}
.committee .committee-card {
  width: 33%;
  text-align: center;
  margin-top: 20px;
}
.committee .committee-card img {
  border-radius: 100px;
}
.committee .committee-card p {
  margin-top: 0;
  font-style: italic;
}

footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid #E4E4E4;
  background-color: #FFF;
  margin-top: 50px;
}
footer .footer-info {
  width: 1000px;
  margin: 0 auto;
  padding: 25px 0;
  box-sizing: border-box;
  display: flex;
}
footer .footer-info .content-left {
  width: 50%;
  text-align: left;
}
footer .footer-info .contact {
  width: 50%;
  text-align: right;
  margin: 0 auto;
  margin-bottom: 25px;
}
footer .footer-info .contact a {
  text-decoration: none;
  color: inherit;
}
footer .footer-info .contact .fab.fa-discord.fa-3x:hover {
  color: #7289da;
}
footer .footer-info .contact .fab.fa-facebook-square.fa-3x:hover {
  color: #3b5998;
}
footer .footer-info .contact .fab.fa-twitter-square.fa-3x:hover {
  color: #1da1f2;
}

.join-action-btn {
  width: 100px;
  margin: 0 auto;
}

@media only screen and (min-width: 201px) and (max-width: 600px) {
  .container .main-card {
    height: 350px !important;
  }
  .container .main-card .main-card-content {
    width: 100% !important;
  }
  .container .main-card .main-card-content h1 {
    font-size: 28px !important;
  }
  .container .main-card .main-card-side-image {
    display: none;
  }

  footer .footer-info {
    display: inline;
  }
  footer .footer-info .content-left {
    width: 80% !important;
    text-align: center;
    margin: 0 auto;
  }
  footer .footer-info .contact {
    text-align: center !important;
    margin-bottom: 50px !important;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 201px) and (max-width: 1000px) {
  .container {
    max-width: 80% !important;
    margin: 0 auto;
    min-height: calc(100vh - 300px);
  }
  .container .main-card-content {
    max-width: 90% !important;
  }
  .container .main-card-content h1 {
    font-size: 70%;
  }
  .container .body-text .committee {
    display: inline !important;
  }
  .container .body-text .committee .committee-card {
    width: 100% !important;
  }

  .footer-info {
    width: 80% !important;
  }

  .nav-toggle {
    display: inline-block !important;
  }
  .nav-toggle:hover {
    cursor: pointer !important;
  }

  input#menu {
    display: none;
  }

  .navbar-links {
    position: absolute;
    z-index: 100;
    background-color: white !important;
    border-radius: 0px 0px 5px 5px;
    width: 100vw !important;
    left: 0 !important;
    top: 70px;
    max-height: 0;
    overflow: hidden;
  }
  .navbar-links a {
    font-weight: 600;
    text-decoration: none;
    color: #484848;
  }
  .navbar-links a:hover {
    text-decoration: underline;
  }
  .navbar-links .navbar-link-item {
    width: 100% !important;
    display: inherit;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .navbar-links .navbar-btn {
    background: -moz-linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
    background: -webkit-linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
    margin-left: 0px !important;
    border-radius: 0px !important;
    height: 60px;
  }

  input:checked ~ .navbar-links {
    max-height: 100%;
  }

  .twitter-card-container {
    display: inline !important;
  }
  .twitter-card-container .twitter-card {
    width: 100%;
    margin-bottom: 1em;
  }

  .event-container {
    display: inline !important;
  }
  .event-container .event-card {
    width: 100%;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 1001px) {
  input#menu {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
