@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', Helvetica, sans-serif;
    background-color: #FBFBFB;
    color: #484848;
}
.navbar {
    width: 100%;
    height: 70px;
    background-color: #FFF;
    border-bottom: 1px solid #E4E4E4;
    line-height: 70px;

    .navbar-logo {
        font-size: 22px;
        img {
            vertical-align: middle;
        }
    }

    .navbar-links {
        float: right;
        a {
            font-weight: 600;
            text-decoration: none;
            color: #484848;
            &:hover {
                text-decoration: underline;
            }
        }
        .navbar-link-item {
            display: inherit;
            float: left;
            padding: 0 20px;
            box-sizing: border-box;
        }
        .navbar-btn {
            border: 1px solid #2168b9;
            background-color: #1459a7;
            margin-left: 10px;
            border-radius: 5px;
            height: 40px;
            margin-top:15px;
            line-height: 40px;
            padding: 0;

            a {
                padding: 10px 20px;
                color: #FFF;
            }
        }
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    margin-top: 30px;
    .main-card {
        width: 100%;
        height: 350px;
        padding: 50px;
        box-sizing: border-box;
        background: url('../images/home-banner.jpg');
        border-radius: 15px;
        display: flex;
        -webkit-box-shadow: 0px 0px 17px 1px rgba(194, 194, 194, 0.75);
        -moz-box-shadow: 0px 0px 17px 1px rgba(194, 194, 194, 0.75);
        box-shadow: 0px 0px 17px 1px rgba(194, 194, 194, 0.75);
        .main-card-content {
            color: #FFF;
            max-width: 60%;
            align-self: center;

            h1 {
                font-size: 38px;
            }
        }
    }
    .upcoming-event-title {
        margin-top: 100px;
        margin-bottom: 30px;
    }
}
.event-container {
    display: flex;
    flex-wrap: wrap;

    .event-card {
        width: 32%;
        min-height: 300px;
        margin-right: 20px;
        border-radius: 15px;
        margin-bottom: 25px;
        -webkit-box-shadow: 0px 0px 17px 1px rgba(194,194,194,0.75);
        -moz-box-shadow: 0px 0px 17px 1px rgba(194,194,194,0.75);
        box-shadow: 0px 0px 17px 1px rgba(194,194,194,0.75);

        &:nth-child(3n) {
            margin-right: 0;
        }
        a {
            text-decoration: none;
            color: inherit;
        }

        img {
            border-radius: 15px 15px 0 0;
            width: 100%;
        }
        .event-card-info {
            padding: 10px 20px 20px 20px;
            box-sizing: border-box;

            .event-date {
                color: #727272;
                font-size: 14px;
            }
        }
    }
}
.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #FFF;
    border: 1px solid #FBFBFB;
    font-size: 18px;
    font-weight: 600;
    color: #484848;
    display: inline-block;
    text-align: center;
    &:hover {
        
    }
}

.btn-default {
    color: #FFF!important;
    background-color: #1459a7;
    min-width: 100px;
}

.form-group {
    display: inline-block;
    width: 100%;
}
.event-time {
    width: 47.5%!important;
}
.start {
    margin-right: 5%;
}
label {
    font-size: 22px;
}
.form-control {
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 22px;
    width: 100%;
    color: #727272;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: inherit;
}
.about {
    background: url('../images/about-banner.jpg');
    background-position-y: -100px; 
}
.events {
    background: url('../images/event-banner.jpg');
    background-position-y: -30px; 
}
.sponsors {
    background: url('../images/sponsors-banner.jpg');
    background-position-y: -75px; 
}
.join {
    background: url('../images/join-banner.jpg');
    background-position-y: -75px; 
}
// About  Page
.heading-card {
    width: 100%;
    height: 150px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 0px 17px 1px rgba(194, 194, 194, 0.75);
    -moz-box-shadow: 0px 0px 17px 1px rgba(194, 194, 194, 0.75);
    box-shadow: 0px 0px 17px 1px rgba(194, 194, 194, 0.75);
    .heading-card-content {
        color: #FFF;
        max-width: 60%;
        align-self: center;

        h1 {
            font-size: 38px;
        }
    }
}

.body-text {
    min-height: 400px;
    width: 70%;
    font-size: 18px;
    margin: 0 auto;
    line-height: 34px;

    ul.about-aims {
        padding-left: 50px;
    }
    p {
        margin-top: 20px;
    }
    a {
        font-weight: 600;
        color:  inherit;
    }
}

.committee {
    display: flex;
    .committee-card  {
        width: 33%;
        text-align: center;
        margin-top: 20px;
        img {
            border-radius: 100px;
        }
        p {
            margin-top: 0;
            font-style: italic;
        }
    }
}

footer {
    width: 100%;
    height: 200px;
    border-top: 1px solid #E4E4E4;
    background-color: #FFF;
    margin-top: 50px;

    .footer-info {
        width: 1000px;
        margin: 0 auto;
        padding: 25px 0;
        box-sizing: border-box;
        display: flex;
        .sponsor {
            width: 50%;
            text-align: left;
        }

        .contact {
            width: 50%;
            text-align: right;
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.join-action-btn {
    width: 100px;
    margin: 0 auto;
}