@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

/* ENUCS red */
$enucs_red: #c62828;
/* Colour for body text */
$body_text_color: #484848;
/* About page banner gradient */
$about_page_gradient_low: rgba(29,107,180,1);
$about_page_gradient_high: rgba(0,212,255,1);
/* Event page banner gradient */
$event_page_gradient_low: #a214a0;
$event_page_gradient_high: #40f;
/* Join page banner gradient */
$join_page_gradient_low: rgba(215,139,60,1);
$join_page_gradient_high: rgba(195,64,244,1);
/* Button gradient */
$button_gradient_low: #27a09e;
$button_gradient_high: #30ce88;
/* Card shadow */
$card_shadow: 3px 3px 5px 0px rgba(194, 194, 194, 0.75);
/* Footer social media icon colors */
$discord: #7289da;
$facebook: #3b5998;
$twitter: #1da1f2;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', Helvetica, sans-serif;
    background-color: #FBFBFB;
    color: $body_text_color;
}
.navbar {
    width: 100%;
    height: 70px;
    background-color: #FFF;
    border-bottom: 1px solid #E4E4E4;
    line-height: 70px;
    .nav-toggle {
        float:right;
        line-height: 70px;
        font-size: 1.5em;
        display: none;
    }
    .navbar-logo {
        font-size: 22px;
        img {
            vertical-align: middle;
        }
    }
    .navbar-links {
        float: right;
        a {
            font-weight: 600;
            text-decoration: none;
            color: $body_text_color;
            &:hover {
                text-decoration: underline;
            }
        }
        .navbar-link-item {
            display: inherit;
            float: left;
            padding: 0 20px;
            box-sizing: border-box;
        }
        .navbar-btn {
            background: linear-gradient(45deg, $button_gradient_low 0%, $button_gradient_high 100%);
            background: -moz-linear-gradient(45deg, $button_gradient_low 0%, $button_gradient_high 100%);
            background: -webkit-linear-gradient(45deg, $button_gradient_low 0%, $button_gradient_high 100%);
            margin-left: 10px;
            border-radius: 5px;
            height: 40px;
            margin-top:15px;
            line-height: 40px;
            padding: 0;
            box-shadow: 0px 0px 5px 1px rgba(185, 185, 185, 0.75);
            a {
                padding: 10px 20px;
                color: #FFF;
            }
        }
    }
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 300px);
}
main {
    margin-top: 30px;
    .main-card {
        width: 100%;
        height: 300px;
        padding: 50px;
        box-sizing: border-box;
        background: linear-gradient(45deg, $button_gradient_low 0%, $button_gradient_high 100%);
        background: -moz-linear-gradient(45deg, $button_gradient_low 0%, $button_gradient_high 100%);
        background: -webkit-linear-gradient(45deg, $button_gradient_low 0%, $button_gradient_high 100%);
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        box-shadow: $card_shadow;
        -moz-box-shadow: $card_shadow;
        -webkit-box-shadow: $card_shadow;
        .main-card-content {
            color: #FFF;
            max-width: 60%;
            align-self: center;
            h1 {
                font-size: 38px;
            }
        }
    }
    .social-feed-title {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .upcoming-event-title {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .twitter-card-container {
        display: flex;
        justify-content:space-between;
    }
    .twitter-card {
        width: calc(33% - 10px);
        min-height: 150px;
        background-color: white;
        color: black;
        box-sizing: border-box;
        padding: 15px 25px;
        border-radius: 5px;
        border-left: 5px solid #1da1f2;
        box-shadow: $card_shadow;
        -moz-box-shadow: $card_shadow;
        -webkit-box-shadow: $card_shadow;
        height: -moz-fit-content;
        height: -webkit-fit-content;
    }
    .twitter-card .tweet-link {
        color: #1da1f2;
        font-weight: 600;
        text-decoration: none;
        margin-top: 1em;
        display: block;
    }
    .upcoming-event-title {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
.event-container {
    display: flex;
    flex-wrap: wrap;
    .event-card {
        width: calc(32% - 5px);
        border-left: 5px solid $enucs_red;
        margin-right: 20px;
        border-radius: 5px;
        margin-bottom: 25px;
        box-shadow: $card_shadow;
        -moz-box-shadow: $card_shadow;
        -webkit-box-shadow: $card_shadow;
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:hover {
            transform: scale(1.03) translateZ(0);
            -moz-transform: scale(1.03) translateZ(0);
            -webkit-transform: scale(1.03) translateZ(0);
            transition: 0.35s transform, 0.35s transform;
            -moz-transition: 0.35s -moz-transform, 0.35s -moz-transform;
            -webkit-transition: 0.35s -webkit-transform, 0.35s -webkit-transform;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        img {
            border-radius: 15px 15px 0 0;
            width: 100%;
        }
        .event-card-info {
            padding: 10px 20px 20px 20px;
            box-sizing: border-box;
            img {
                float: right;
                width: 60px;
                margin-top: 10px;
                border-radius: 0;
            }
            .event-date {
                color: #727272;
                font-size: 14px;
            }
        }
    }
}
.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #FFF;
    font-size: 18px;
    font-weight: 600;
    color: $body_text_color;
    display: inline-block;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 5px 1px rgba(185, 185, 185, 0.75);
    &:hover {
        cursor: pointer;
    }
}
.btn-default {
    color: #FFF!important;
    min-width: 100px;
    background: linear-gradient(45deg, $button_gradient_low 0%, $button_gradient_high 100%);
    background: -moz-linear-gradient(45deg, $button_gradient_low 0%, $button_gradient_high 100%);
    background: -webkit-linear-gradient(45deg, $button_gradient_low 0%, $button_gradient_high 100%);
    &:hover {
        background: #27a09e;
    }
}
.form-group {
    display: inline-block;
    width: 100%;
}
.event-time {
    width: 60%!important;
}
.start {
    margin-right: 5%;
}
label {
    font-size: 22px;
}
.form-control {
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 22px;
    width: 100%;
    color: #727272;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: inherit;
}
.about {
    background: linear-gradient(45deg, $about_page_gradient_low 0%, $about_page_gradient_high 100%);
    background: -moz-linear-gradient(45deg, $about_page_gradient_low 0%, $about_page_gradient_high 100%);
    background: -webkit-linear-gradient(45deg, $about_page_gradient_low 0%, $about_page_gradient_high 100%);
}
.events {
    background: linear-gradient(45deg, $event_page_gradient_low 0%, $event_page_gradient_high 100%);
    background: -moz-linear-gradient(45deg, $event_page_gradient_low 0%, $event_page_gradient_high 100%);
    background: -webkit-linear-gradient(45deg, $event_page_gradient_low 0%, $event_page_gradient_high 100%);
}
.sponsors {
    background: url('../images/sponsors-banner.jpg');
    background-position-y: -75px; 
}
.join {
    background: linear-gradient(45deg, $join_page_gradient_low 0%, $join_page_gradient_high 100%);
    background: -moz-linear-gradient(45deg, $join_page_gradient_low 0%, $join_page_gradient_high 100%);
    background: -webkit-linear-gradient(45deg, $join_page_gradient_low 0%, $join_page_gradient_high 100%);
}
.heading-card {
    width: 100%;
    height: 150px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    margin-bottom: 50px;
    box-shadow: $card_shadow;
    -moz-box-shadow: $card_shadow;
    -webkit-box-shadow: $card_shadow;
    .heading-card-content {
        color: #FFF;
        max-width: 60%;
        align-self: center;
        h1 {
            font-size: 38px;
        }
    }
}
.body-text {
    min-height: 400px;
    width: 70%;
    font-size: 18px;
    margin: 0 auto;
    line-height: 2em;
    ul.about-aims {
        padding-left: 50px;
    }
    p {
        margin-top: 20px;
    }
    a {
        font-weight: 600;
        color:  inherit;
    }
}
.committee {
    display: flex;
    .committee-card  {
        width: 33%;
        text-align: center;
        margin-top: 20px;
        img {
            border-radius: 100px;
        }
        p {
            margin-top: 0;
            font-style: italic;
        }
    }
}
footer {
    width: 100%;
    height: 200px;
    border-top: 1px solid #E4E4E4;
    background-color: #FFF;
    margin-top: 50px;
    .footer-info {
        width: 1000px;
        margin: 0 auto;
        padding: 25px 0;
        box-sizing: border-box;
        display: flex;
        .content-left {
            width: 50%;
            text-align: left;
        }
        .contact {
            width: 50%;
            text-align: right;
            margin: 0 auto;
            margin-bottom: 25px;
            a {
                text-decoration: none;
                color: inherit;
            }
            .fab.fa-discord.fa-3x {
                &:hover {
                    color: $discord;
                }
            }
            .fab.fa-facebook-square.fa-3x {
                &:hover {
                    color: $facebook;
                }
            }
            .fab.fa-twitter-square.fa-3x {
                &:hover {
                    color: $twitter;
                }
            }
        }
    }
}
.join-action-btn {
    width: 100px;
    margin: 0 auto;
}
@media only screen and (min-width: 201px) and (max-width: 600px) {
    .container {
        .main-card {
            height: 350px!important;
            .main-card-content {
                width: 100%!important;
                h1 {
                    font-size: 28px !important;
                }
            }
            .main-card-side-image {
                display: none;
            }
        }
    }
    footer {
        .footer-info {
            display: inline;
            .content-left {
                width: 80% !important;
                text-align: center;
                margin: 0 auto;
            }
            .contact {
                text-align: center!important;
                margin-bottom: 50px!important;
            }
        }
    }
}
/* Tablet Styles */
@media only screen and (min-width: 201px) and (max-width: 1000px) {
    .container {
        max-width: 80%!important;
        margin: 0 auto;
        min-height: calc(100vh - 300px);
        .main-card-content {
            max-width: 90%!important;
            h1 {
                font-size: 70%;
            }
        }
        .body-text {
            .committee {
                display: inline!important;
                .committee-card {
                    width: 100%!important;
                }
            }
        }
    }
    .footer-info {
        width: 80%!important;
    }
    .nav-toggle {
        display: inline-block!important;
        &:hover {
            cursor: pointer!important;
        }
    }
    input#menu {
        display: none;
    }
    .navbar-links {
        position: absolute;
        z-index: 100;
        background-color: white!important;
        border-radius: 0px 0px 5px 5px;
        width: 100vw!important;
        left: 0!important;
        top: 70px;
        max-height: 0;
        overflow: hidden;
        a {
            font-weight: 600;
            text-decoration: none;
            color: #484848;
            &:hover {
                text-decoration: underline;
            }
        }
        .navbar-link-item {
            width: 100%!important;
            display: inherit;
            padding: 0 20px;
            box-sizing: border-box;
            text-align: center;
        }
        .navbar-btn {
            background: -moz-linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
            background: -webkit-linear-gradient(45deg, #27a09e 0%, #30ce88 100%);
            margin-left: 0px!important;
            border-radius: 0px!important;
            height: 60px;
        }
    }
    input:checked ~ .navbar-links {
        max-height: 100%;
    }
    .twitter-card-container {
        display: inline!important;
        .twitter-card {
            width: 100%;
            margin-bottom: 1em;
        }
    }
    .event-container {
        display: inline!important;
        .event-card {
            width: 100%;
        }
    }
}
/* Desktop Styles */
@media only screen and (min-width: 1001px) {
    input#menu {
        display: none;
    }
}
